<header>
    <a href="/" id="title">
        <div id="site-icon"></div>
        <h1>Roundabout</h1>
    </a>
    <p id="location">{{ location }}</p>
    <div id="search-container">
        <div id="search">
            <input type="text" placeholder="Search on Roundabout"/>
            <i class="searchicon fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="searchres" class="hidden"></div>
        <script src="/static/scripts/show_searchres.js"></script>
    </div>
    {% if name is defined and name %}
    <div id="account">
        <canvas height="200px" width="200px" class="usericon" id="headericon"></canvas>
        <p class="username">{{ name }}</p>
        <i id="dropdown-arrow" class="fa-solid fa-angle-down"></i>
        <script>draw_icon("{{ name }}","headericon")</script>
    </div>
    <div id="account-dropdown">
        <div role="button" class="dropdown-button" id="account-page" onclick="window.location.assign('/u/{{name}}')">
            <i class="fa-solid fa-user"></i>
            <p>Profile</p>
        </div>
        <div role="button" class="dropdown-button" id="new-post">
            <i class="fa-solid fa-plus"></i>
            <p>New post</p>
        </div>
        <div role="button" class="dropdown-button not-clickable with-checkbox" id="light-dark-mode">
            <i class="fa-solid fa-sun"></i>
            <p>Light mode</p>
            <input type="checkbox" id="dark-light-mode" onclick="checkbox_dark_light_mode()"/>
            <script>load_theme();</script>
        </div>
        <div role="button" class="dropdown-button" id="logout" onclick="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Log out</p>
        </div>
    </div>
    <script src="/static/scripts/dropdown.js"></script>
    {% else %}
    <div id="noaccount">
        <div id="login" role="button"><p>Log in</p></div>
        <div id="register" role="button"><p>Register</p></div>
    </div>
    {% endif %}
</header>
<div id="headerspacer"></div>