<!-- Responsive -->
<meta name = "viewport" content = "width=device-width, initial-scale = 1">
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HW18RWYFH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6HW18RWYFH');
</script> -->


<!-- Primary Meta Tags -->
<title>Login - Roundabout</title>
<meta name="title" content="Login - Roundabout">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ircpi.ddns.net">
<meta property="og:title" content="Roundabout">
<meta property="og:description" content="">
<meta property="og:image" itemprop="image" content="https://ircpi.ddns.net/static/resources/thumbnail.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://ircpi.ddns.net">
<meta property="twitter:title" content="Roundabout">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="https://ircpi.ddns.net/static/resources/thumbnail.png">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/ab13f50ece.js" crossorigin="anonymous"></script>
<!-- JQery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" crossorigin="anonymous"></script>
<!-- Remarkable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" crossorigin="anonymous"></script>
<!-- Local Scripts -->
<script src="/static/scripts/seedrandom.js"></script>
<script src="/static/scripts/gen_icon.js"></script>
<script src="/static/scripts/logout.js"></script>
<script src="/static/scripts/dark_light_mode.js"></script>
<script src="/static/scripts/share.js"></script>
<script src="/static/scripts/locator.js"></script>
<script src="/static/scripts/follow.js"></script>
<script src="/static/scripts/logo.js"></script>