<header>
    <a href="/" id="title">
        <div id="site-icon"></div>
        <h1>Roundabout</h1>
    </a>
    <p id="location">{{ location }}</p>
    <div id="search-container">
        <div id="search">
            <input type="text" placeholder="Search on Roundabout" />
            <i class="searchicon fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="searchres" class="hidden"></div>
        <script src="/static/scripts/show_searchres.js"></script>
    </div>
    {% if name is defined and name %}
    <div id="account">
        <canvas height="200px" width="200px" class="usericon" id="headericon"></canvas>
        <p class="username" id="username-tag">{{ name }}</p>
        <i id="dropdown-arrow" class="fa-solid fa-angle-down"></i>
        <script>draw_icon("{{ name }}", "headericon")</script>
    </div>
    <script src="/static/scripts/gen_follow.js"></script>
    <script src="/static/scripts/follow_list.js"></script>
    <div id="account-dropdown">
        <div role="button" class="dropdown-button" id="account-page" onclick="window.location.assign('/u/{{name}}')">
            <i class="fa-solid fa-user"></i>
            <p>Profile</p>
        </div>
        <div role="button" class="dropdown-button" id="new-post" onclick="show_new_post_dialog()">
            <i class="fa-solid fa-plus"></i>
            <p>New post</p>
        </div>
        <div role="button" class="dropdown-button" id="followers" onclick="load_followers('{{ name }}')">
            <i class="fa-solid fa-people-group"></i>
            <p>Followers</p>
        </div>
        <div role="button" class="dropdown-button" id="following" onclick="load_followed('{{ name }}')">
            <i class="fa-solid fa-address-book"></i>
            <p>Following</p>
        </div>
        <div class="dropdown-button not-clickable with-checkbox" id="light-dark-mode">
            <i class="fa-solid fa-sun"></i>
            <p>Light mode</p>
            <input type="checkbox" id="dark-light-mode" onclick="checkbox_dark_light_mode()" />
            <script>load_theme();</script>
        </div>
        <div role="button" class="dropdown-button" id="logout" onclick="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Log out</p>
        </div>
    </div>
    <div id="new-post-container">
        <div id="new-post-overlay">
            <div id="new-post-title">
                <h1>Create a new post</h1>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <textarea id="new-post-text" maxlength="255" placeholder="What's happening?"></textarea>
            <div id="new-post-bar">
                <small id="text-counter">0/255</small>
                <div role="button" id="create-post">
                    <p>Post</p>
                </div>
            </div>
            <script src="/static/scripts/text_counter.js"></script>
            <script>
                $("#new-post-text").on("input",function(event)
                {
                    count_text_and_update_counter("#text-counter","#new-post-text",255);
                });
            </script>
        </div>
    </div>
    <div id="follow-list-container">
        <div id="follow-list-wrapper">
            <div id="follow-title">
                <h1></h1>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div id="follow-list"></div>
        </div>
    </div>
    <script>enable_follow()</script>
    <script src="/static/scripts/dropdown.js"></script>
    <script src="/static/scripts/new_post.js"></script>
    {% else %}
    <div id="noaccount">
        <div id="login" role="button">
            <p>Log in</p>
        </div>
        <div id="register" role="button">
            <p>Register</p>
        </div>
    </div>
    {% endif %}
</header>
<div id="headerspacer"></div>