<!-- Responsive -->
<meta name = "viewport" content = "width=device-width, initial-scale = 1">
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/ab13f50ece.js" crossorigin="anonymous"></script>
<!-- JQery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Mustache -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" crossorigin="anonymous"></script>
<script src="/static/scripts/seedrandom.js"></script>
<script src="/static/scripts/gen_icon.js"></script>
<script src="/static/scripts/logout.js"></script>
<script src="/static/scripts/dark_light_mode.js"></script>
<script src="/static/scripts/share.js"></script>