<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="/static/style/home.css" />
    <title>Home - Roundabout</title>
    <script src="/static/scripts/set_reset_like.js"></script>
</head>

<body>
    {% include "header.html" %}
    {% include "post-area.html" %}
    <script src="/static/scripts/gen_post.js"></script>
    <script src="/static/scripts/more_posts.js"></script>
    <script>
        start_loading_posts("f", "{{ name }}");
    </script>
</body>

</html>