<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="/static/style/comments.css" />
    <title>Post from {{ user_name }}</title>
    <script src="/static/scripts/set_reset_like.js"></script>
</head>

<body>
    {% include "header.html" %}
    <main id="post-container">
        <div id="posts">
            <article class="post single" id="post{{ id }}">
                <canvas id="icon{{ id }}" class="usericon" width="100px" height="100px"></canvas>
                <small class="author">{{ user_name }}</small>
                <small class="date">{{ created }}</small>
                <p>{{ text }}</p>
                <div class="post-bar">
                    <div class="like {% if liked %}liked{% endif %}" onclick="sr_like('{{ id }}')">
                        <i class="fa-solid fa-heart"></i>
                        <small class="like-count">{{ likes }}</small>
                    </div>
                    <div class="comment">
                        <i class="fa-solid fa-message"></i>
                        <small class="comment-count">{{ comments }}</small>
                    </div>
                    <div class="share" onclick="share('Post from {{ user_name }}','{{ text }}','https:\/\/ircpi.ddns.net/p/{{ id }}')">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                </div>
                <script>draw_icon("{{ user_name }}","icon{{ id }}");</script>
                <div class="comment-container">
                    <div class="create-comment">
                        <textarea id="create-comment-input"></textarea>
                        <div class="create-bar">
                        </div>
                    </div>
                    <div class="comments">

                    </div>
                </div>
            </article>
        </div>
    </main>
</body>

</html>