<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <link rel="stylesheet" href="/static/style/comments.css" />
    <title>Post from {{ user_name }}</title>
    <script src="/static/scripts/set_reset_like.js"></script>
</head>

<body>
    {% include "header.html" %}
    <main id="post-container">
        <div id="posts">
            <article class="post single" id="post{{ id }}">
                <canvas id="p-icon{{ id }}" class="usericon" width="100px" height="100px"></canvas>
                <small class="author">{{ user_name }}</small>
                <small class="date">{{ created }}</small>
                <div class="post-text">{{ text }}</div>
                <script>
                    var md = new remarkable.Remarkable();
                    $("#post{{id}} .post-text").html(md.render($("#post{{id}} .post-text").html()));
                </script>
                <div class="post-bar">
                    <div class="like {% if liked %}liked{% endif %}" onclick="sr_like('{{ id }}')">
                        <i class="fa-solid fa-heart"></i>
                        <small class="like-count">{{ likes }}</small>
                    </div>
                    <div class="comment">
                        <i class="fa-solid fa-message"></i>
                        <small class="comment-count">{{ comments }}</small>
                    </div>
                    <div class="share" onclick="share('Post from {{ user_name }}','{{ text }}','https:\/\/ircpi.ddns.net/p/{{ id }}')">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                </div>
                <script>draw_icon("{{ user_name }}","p-icon{{ id }}");</script>
                <div class="comment-container">
                    <div class="create-comment">
                        <textarea id="create-comment-input" maxlength="255" placeholder="What do you think about this?"></textarea>
                        <div class="create-bar">
                            <small id="comment-text-counter">0/255</small>
                            <div role="button" id="create" onclick="new_comment('{{ id }}')"><p>Comment</p></div>
                        </div>
                    </div>
                    <script src="/static/scripts/text_counter.js"></script>
                    <script>
                        $("#create-comment-input").on("input",function(event)
                        {
                            count_text_and_update_counter("#comment-text-counter","#create-comment-input",255);
                        });
                    </script>
                    <div id="comments">
                    </div>
                    <article class="comment" id="end">
                        <canvas height="100px\" width="100px" class="usericon"></canvas>
                        <small class="author"></small>
                        <small class="date"></small>
                        <div class="comment-text"></div>
                        <div class="comment-border"></div>
                    </article>
                    <script src="/static/scripts/gen_comment.js"></script>
                    <script src="/static/scripts/new_comment.js"></script>
                    <script src="/static/scripts/more_comments.js"></script>
                    <script>
                        start_loading_comments('p','{{id}}');
                    </script>
                </div>
            </article>
        </div>
    </main>
</body>

</html>