<main id="post-container">
    <div id="posts"></div>
    <article class="post" id="end">
        <canvas class="usericon"></canvas>
        <small class="author"></small>
        <small class="date"></small>
        <div class="post-text"></div>
        <div class="post-bar">
            <div class="like">
                <i class="fa-solid fa-heart"></i>
                <small class="like-count"></small>
            </div>
            <div class="comment">
                <i class="fa-solid fa-message"></i>
                <small class="comment-count"></small>
            </div>
            <div class="share">
                <i class="fa-solid fa-share-nodes"></i>
            </div>
        </div>
    </article>
</main>