@import url("colors.css");
@import url("post.css");
@import url("header.css");
@import url("scrollbar.css");

body {
    font-family: sans-serif;
    background-color: var(--bg1);
    color: var(--fg2);
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: 150ms;
}

canvas.usericon {
    background-color: var(--bg3);
    border-radius: 50%;
}

div[role=button] {
   text-align: center;
   background-color: var(--fg1);
   color: var(--bg1);
   cursor: pointer;
   border-radius: 5px; 
   transition: 100ms;
}

div[role=button]:hover {
    background-color: var(--fg2);
    color: var(--bg2);

}

div[role=button]:active {
    background-color: var(--fg3);
    color: var(--bg3);
    transition: 0ms;
}

a {
    color: inherit;
    text-decoration: underline;
}

input:focus {
    outline: unset;
}

input {
    color: var(--fg2);
}

input[type="checkbox"] {
    position: relative;
    height: 20px;
    width: 40px;
    appearance: none;
    background-color: var(--bg2);
    border-radius: 17px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--fg1);
    box-sizing: content-box;
}

input[type="checkbox"]:checked {
    background-color: var(--bg3);
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    transform: scale(.7);
    border-radius: 50%;
    background-color: var(--fg1);
    transition: all 200ms ease-in-out;
}

input[type="checkbox"]:checked:after {
    left: calc(100% - 20px);
}