@import url("global.css");

#container {
    margin: 0 auto;
    position:relative;
    display: grid;
    grid-template-columns: auto 120px auto;
    width: fit-content;
    height: fit-content;
    padding-top: 200px;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    grid-column: 1;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:fit-content;
    color: var(--accent);
}

#title h1 {
    margin: 0 0 0 15px;
    font-size: 40px;
}

#title #site-icon {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-image: url("/static/resources/small_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}


main {
    grid-column: 3;
    display: inline-block;
    height: fit-content;
    padding: 20px;
    width: fit-content;
    box-shadow: 0 0 5px var(--shadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .input-container {
    background-color: var(--bg2);
    height: fit-content;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--bg3);
}

main input {
    background-color: inherit;
    border: unset;
    font-size: 18px;
    width: 300px;
}

main div {
    margin-bottom: 20px;
}

main #submit {
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 18px;
}

main #submit.waiting {
    background: linear-gradient(90deg,var(--fg1),var(--bg3),var(--fg1));
    animation: article_end_animation 2s infinite linear;
    background-size: 300% 100%;
}
@keyframes article_end_animation {
    0% {background-position: 0 0;}
    100% {background-position: -300% 0;}
}

main #submit.waiting span {
    transition: 50ms;
}
main #submit.waiting span {
    opacity: 0;
}

@media only screen and (max-width: 900px) {
    #container {
        padding-top: 150px;
        grid-template-columns: unset;
        grid-template-rows: auto 50px auto;
    }

    #title-container {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #subtitle {
        display: none;
    }

    main {
        grid-column: 1;
        grid-row: 3;
    }
}