@import url("colors.css");

#post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    width: 642px;
}

article.post {
    border: 1px solid var(--bg3);
    border-left: 2px solid var(--accent);
    display: grid;
    background-color: var(--post-bg);
    padding: 10px 10px 0 10px;
    margin: 10px;
    border-radius: 5px;
    grid-template: 20px auto 24px / 30px 100px auto 200px;
    width: calc(100% - 42px);
    margin-top: 0;
    transition: 100ms;
}

@media (hover: hover) {
    article.post:hover {
        border: 1px solid var(--fg1);
        border-left: 2px solid var(--accent);
    }
}

article.post:active {
    border: 1px solid var(--fg1);
    border-left: 2px solid var(--accent);
}

article.post canvas.usericon {
    grid-column: 1;
    grid-row: 1;
    width: 20px;
    height: 20px;
}

article.post small {
    margin-top: 2px;
}

article.post small.author {
    grid-column: 2;
    grid-row: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

article.post small.date {
    grid-column: 4;
    grid-row: 1;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;
}

article.post .post-text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
}

article.post .post-bar {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: var(--bg1);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: -10px;
    border-radius: 0 0 5px 5px;
    color: var(--bg3);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 100ms;
    overflow: hidden;
}

article.post .post-bar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 80px;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}

article.post .post-bar div.like.liked i{
    color: var(--accent);
}

article.post .post-bar div small {
    margin-right: 10px;
    margin-left: 10px;
    width: 20px;
    color: var(--fg1);
}
@media (hover: hover) {
    article.post .post-bar div:hover {
        background-color: var(--bg2);
        color: var(--fg1);
    }
}

article.post .post-bar div:active {
    background-color: var(--bg2);
    color: var(--fg1);
}

article.post#end {
    background-color: var(--post-bg);
    max-width: 600px;
    width: calc(100% - 42px);
}

article.post#end canvas.usericon,
article.post#end small.author,
article.post#end small.date,
article.post#end .post-text {
    background: linear-gradient(90deg,var(--post-bg),var(--bg1),var(--post-bg));
    animation: article_end_animation 2s infinite linear;
    background-size: 300% 100%;
}
@keyframes article_end_animation {
    0% {background-position: 0 0;}
    100% {background-position: -300% 0;}
}

article.post#end small.author { 
    height: 15px;
    width: 100px;
    border-radius: 5px;
}

article.post#end small.date {
    height: 15px;
    width: 200px;
    border-radius: 5px;
    text-align: left;
}

article.post#end .post-text {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.post-text img {
    width: 100%;
    object-fit: cover;
}

.post-text table,
.post-text th,
.post-text td {
    border: 1px solid var(--bg3);
    border-collapse: collapse;
}

.post-text pre {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--bg3);
    border-radius: 5px;
}

#no-posts {
    margin: 10px;
}

@keyframes post-created {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

article.post.created {
    animation: post-created 500ms ease-in;
}

@media only screen and (max-width: 652px) {
    #posts {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    article.post {
        grid-template: 20px auto 24px / 30px 100px auto 0px;
    }

    article.post small.date {
        display: none;
    }   
    article.post .post-bar div {
        min-width: unset;
    }
}